<div class="row">
 <div class="col-md-12">
  <h3 class="quote-text text-center">{{quote.text}}</h3>
 </div>
</div>
<div class="row">
 <div class="col-md-12">
  <p class="text-right">- {{quote.author.name}}</p>
 </div>
</div>

<!--
<div class="row">
 <div class="col-md-12">
 <h1><a ui-sref="list" class="quote-list" style="color:white">View More Quote</a></h1>
 </div>
</div>
s -->

 <div ng-controller="ListQuoteCtrl">
 <li ng-repeat="name in names">
    <div class="col-md-12">
   <h1><a ui-sref="detail({id:{{name.id}}})" align="center" style="color:white" class="quote-list">{{name.name}}</a></h1>
 </div>
         </li>
</div>

<div class="col-md-12" align="left">
<h1><a ui-sref="add" class="quote-add" align="left">Add</a></h1>
</div>